 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 *{
     font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
 }

 /* header styles */
nav{
     padding: 30px 100px;
}
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
nav >ul{
    display: flex;
}
nav li{
     list-style: none;
     margin-right: 30px;
     font-size: 18px;
     
}
h1{
    margin-right: 900px;
}
/* min header styles */


.min-header{
     text-align: center;
     padding: 30px;
     background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
     background-repeat: no-repeat;
     width: 1170px;
height: 500px;
margin: 0 auto;
     

    
}
.min{
     padding: 100px;
}
.main-header-2{
     margin: auto;
     font-size: 64px;
     font-weight: 800;
     color: #FFF;
   
}

.main-header-3{
     font-size: 16px;
     font-weight: 400;
     color: #FFF;
}

.input{
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 175px;
height: 52px;
 background-color: color: #FFF;
 
}

.input-1{
     margin: 50px;
     color: rgba(19, 19, 24, 0.50);

}
.section-1{
     /* margin-top: -200px; */
      display: flex;
      min-width: 1170px;
      margin: 0 auto;
      margin-left: 330px;

      
      
}

.content-li{
     color: rgba(19, 19, 24, 0.70);

    
     font-size: 16px;
     font-weight: 400;
     line-height: 26px    
}


.button-2{
     width: 174px;
     height: 52px; 
     font-size:20px;
     border-radius: 10px;
     background: #FF5400; ;
}

.content-img{
   margin-left: 300px;
}

 
.section3{
     margin-top: 100px;
     max-width: 1170px;
     margin: 0 auto;
}

.contant3{
     text-align: center;

}



/*  */

.section4{
     max-width: 1170px;
     margin: 0 auto;
     margin-top: 100px;
}


.contant5{

     text-align: center;
     align-items: center;
}

.h1-contant1{
     color: #131318;
     font-size: 30px;
    font-weight: 400;
    margin-right: -150px;
}
.p-contant2{
     color: rgba(19, 19, 24, 0.70);
     text-align: center;
     font-family: Mulish;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;
     width: 643px;
     margin-left: 340px;
}

.card1{
     height: 200px;
     width: 800px;
     border-radius: 16px;
     width: 573px;
height: 284px;
flex-shrink: 0;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 30px;

}


.image3{
     display: flex;
     gap: 15px;
}



.card2{
     width: 573px;
     height: 284px;
     flex-shrink: 0;  
     border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 30px;
}


.h1-contant{
     color: #131318;
     font-size: 18px;
     font-weight: 800;
     width: 1200px;
   
}



.p-contant{

     color: #5A5A5D;

     font-family: Mulish;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 26px;
}


.card3{
     width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin: 0 auto;
padding: 30px;
margin-top: 30px;
margin-left: 350px;


}

/*  */


 