 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 *{
     font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
 }

 /* header styles */
nav{
     padding: 30px 100px;
}
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
nav >ul{
    display: flex;
}
nav li{
     list-style: none;
     margin-right: 30px;
     font-size: 18px;
     
}
h1{
    margin-right: 900px;
}
/* min header styles */


.min-header{
     text-align: center;
     padding: 30px;
     background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
     background-repeat: no-repeat;
     width: 1170px;
height: 500px;
margin: 0 auto;
     

    
}
.min{
     padding: 100px;
}
.main-header-2{
     margin: auto;
     font-size: 64px;
     font-weight: 800;
     color: #FFF;
}

.main-header-3{
     font-size: 16px;
     font-weight: 400;
     color: #FFF;
}

.input{
  display: inline-flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 175px;
height: 52px;
 background-color: color: #FFF;
 
}

.input-1{
     margin: 50px;
     color: rgba(19, 19, 24, 0.50);

}
.section-1{
     padding: 220px;
     margin-top: -200px;
      display: flex;
      
}

.content-li{
     color: rgba(19, 19, 24, 0.70);

    
     font-size: 16px;
     font-weight: 400;
     line-height: 26px    
}


.button-2{
     width: 174px;
     height: 52px; 
     font-size:20px;
     border-radius: 10px;
     background: #FF5400; ;
}

.content-img{
   margin-left: 300px;
}

 